**~
aclocal.m4
autom4te.cache
**.bak
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
*.deps
*.la
.libs
libtool
*.lo
*.log
*.loT
ltmain.sh
**Makefile
**Makefile.in
*.o
pkgconfig/libchardet.pc
src/chardetor
src/Makefile
src/Makefile.in
*.swp
*.tar.gz
