**Makefile
**Makefile.in
aclocal.m4
config.sub
config.guess
config.h
config.h.in
config.log
config.status
configure
libtool
ltmain.sh
src/Makefile
src/Makefile.in
autom4te.cache
**~
**.bak
*.o
*.lo
*.loT
.libs
*.la
*.swp
src/chardetor
*.deps
*.log
*.tar.gz
*.spec
pkgconfig/libchardet.pc
