**~
aclocal.m4
autom4te.cache
**.bak
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
debian/.debhelper/
debian/files
debian/libchardet/
debian/libchardet-dev/
debian/libchardet-dev.substvars
debian/libchardet.substvars
debian/tmp/
depcomp
*.deps
install-sh
*.la
.libs
libtool
*.lo
*.log
*.loT
ltmain.sh
**Makefile
**Makefile.in
missing
*.o
pkgconfig/libchardet.pc
src/chardetor
src/Makefile
src/Makefile.in
stamp-h1
*.swp
*.tar.gz
